%h1 Sign Up
= form_for @contact do |f|
	- if @contact.errors.any?
		.error_messages
			%h2 Form is invalid
			%ul
				- @contact.errors.full_messages.each do |message|
					%li= message
	.field
		= f.label :name
		%br/
		= f.text_field :name
	.field
		= f.label :phone_number
		%br/
		= f.text_field :phone_number
	.field
		= f.label :gender
		%select{name: 'contact[gender]'}
			%option{value: "Male"}
				Male
			%option{value: "Female"}
				Female
	.field
		= f.label :password
		%br/
		= f.password_field :password
	.field
		= f.label :password_confirmation
		%br/
		= f.password_field :password_confirmation
	.actions= f.submit "Sign Up"