%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Setup:
  = @account.setup
%p
  %b Account type:
  = @account.account_type
%p
  %b Email:
  = @account.email

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
